.work {
  padding-bottom: 94px;
    
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__title {
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  color: $headers-color;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}

.work__list {
  display: flex;

  gap: 30px;
}

.work__thumb {
  position: relative;

  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.work__text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;

  background: rgba(47, 48, 58, 0.8);
}