.main__hero {
  text-align: center;
  width: 100%;
  max-width: 1600px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: $bg-hero-gradient, url(../../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: $bg-hero-gradient, url(../../images/hero-bg-mob-2x.jpg);
  }

  @media screen and(min-width: 768px) {
    background-image: $bg-hero-gradient, url(../../images/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
        background-image: $bg-hero-gradient, url(../../images/hero-bg-tab-2x.jpg);
    }
  }

  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: $bg-hero-gradient, url(../../images/hero-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
      background-image: $bg-hero-gradient, url(../../images/hero-bg-desk-2x.jpg);
    }
  }
}

.hero__title {
  padding-bottom: 30px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and(min-width: 480px) {
    @include font($primary-font, 900, 26, 1.62, 0.06);
  }
  
  @media screen and(min-width: 768px) {
    @include font($primary-font, 900, 26, 1.62, 0.06);
  }

  @media screen and(min-width: 1200px) {
    @include font($primary-font, 900, 44, 1.36, 0.06);
  }
}

.hero__button {
  margin: 0 auto;
  
  height: 50px;
  width: 216px;
}

