$main-color: #2196f3;
$headers-color: #212121;
$text-color: #757575;
$color-blu-fon: #fff;
$button-hover-color: #188ce8;
$background-color: #2f303a;
$border-color: #ececec;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
